# dependencies
/node_modules

# next.js build output
/.next/
/out/

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



# macOS
.DS_Store

# windows
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local editor files
.vscode/
.idea/

# zip or backup files (optional)
*.zip